[Unit]
Description=Ensure Game Mount is in fstab and fix dualboot
After=local-fs.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/dualboot_fix.sh
RemainAfterExit=true

[Install]
WantedBy=multi-user.target